# Dependencies
node_modules
**/node_modules
backend

# Build outputs
dist

# Debug logs
npm-debug.log

# IDEs and OS files
.DS_Store
.vscode
.idea
.git
.gitignore

# Environment files
.env
.env.local

# Documentation
*.md
